<template name="account">
    <div class="container">
        <h1>User Profile</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <div class="col-sm-12">
                        {{#if currentUser.profile.avatar}}
                            <img src="{{currentUser.profile.avatar}}" class="avatar img-rounded" alt="avatar" style="width: 200px;height: 200px">
                        {{else}}
                    <img src="/default.jpg" class="avatar img-circle" alt="avatar">
                {{/if}}
                
                    </div>
                    <div class="col-sm-12 avatar-btns">
                        <div class="col-sm-6">
                        <span class="btn btn-primary btn-change-avatar">
                            <i class="fa fa-picture-o"></i> Change
                        </span>
                        </div>
                        <div class="col-sm-6">
                            <span class="btn btn-danger btn-remove-avatar">
                                <i class="fa fa-trash-o"></i> Remove
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="file" id="avatar-upload" style="visibility:hidden;"/>
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
              
                <h3>Personal info</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                    
                       <div class="input-field col s6">
                         
                                    
                                <i class="mdi-action-account-circle prefix"></i>
                                <input type="text" class="validate" id="username" required="true" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" placeholder="Username" value="{{currentUser.username}}">
                        
                                     </div>
                     
                    </div>
                  
                    <div class="form-group">
                    
                      
                     {{#if currentUser.profile.firstname}} 
                       <div class="input-field col s6">
                                <i class="mdi-action-account-circle prefix"></i>
                                <input type="text" class="validate" id="user-firstname" required="true"      style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" placeholder="First Name" value="{{currentUser.profile.firstname}}">
                               <!--    <label for="icon_prefix" style="font-size:14px">First Name</label> -->
                                    </div>
                      {{else}}
            
                           <div class="input-field col s6">
                                <i class="mdi-action-account-circle prefix"></i>
                                <input type="text" class="validate" id="user-firstname" required="true"      style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.firstname}}">
                                  <label for="icon_prefix" style="font-size:14px">First Name</label> 
                                    </div>
                      {{/if}}
                     
                    </div>
                  
                  
                  
                  
                      <div class="form-group">
                  {{#if currentUser.profile.lastname}}
                          <div class="input-field col s6">
                                    <i class="mdi-action-account-circle prefix"></i>
                                <input type="text" class="validate" id="user-lastname" required="true" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.lastname}}">
<!--                                   <label for="icon_prefix" style="font-size:14px">Last Name</label> -->
                                    </div>
                        
                     {{else}}
                        
                           <div class="input-field col s6">
                                    <i class="mdi-action-account-circle prefix"></i>
                                <input type="text" class="validate" id="user-lastname" required="true" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.lastname}}">
                               <label for="icon_prefix" style="font-size:14px">Last Name</label>
                                    </div>
                        
                      {{/if}}  
                        
                  </div>
                  
               
                  
                    <div class="form-group">
             
                      {{#if currentUser.profile.city }}
                      
                   <div class="input-field col s6"> 
                                    <i class="mdi-social-location-city prefix"></i>
                                <input type="text" class="validate" id="user-city"  style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.city}}">
     <!--                              <label for="icon_prefix" style="font-size:14px">City</label>
 -->                                    </div>
                      
                      {{else}}
                  
                            <div class="input-field col s6"> 
                                    <i class="mdi-social-location-city prefix"></i>
                                <input type="text" class="validate" id="user-city"  style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.city}}">
                                 <label for="icon_prefix" style="font-size:14px">City</label>
                                    </div>
                      {{/if}}
                      
                  </div>
                  
                     <div class="form-group">
       
                       {{#if currentUser.profile.lang}}
                       
                    <div class="input-field col s6">
                                    <i class="mdi-action-translate prefix"></i>
                                <input type="text" class="validate" id="language"  style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.lang}}">
<!--                                   <label for="icon_prefix" style="font-size:14px">Languages</label> -->
                                    </div>
                       
                       {{else}}
      
                       <div class="input-field col s6">
                                    <i class="mdi-action-translate prefix"></i>
                                <input type="text" class="validate" id="language" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.lang}}">
                                   <label for="icon_prefix" style="font-size:14px">Languages</label> 
                                    </div>
                       
                       {{/if}}
                       
                       
                  </div>
                  
         <div class="form-group">
          
           {{#if currentUser.profile.usernumber}}
             <div class="input-field col s6">
           <i class="mdi-communication-phone prefix"></i>
                                <input type="text" class="validate" id="cnnumber" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.usernumber}}">
<!--                                   <label for="icon_prefix" style="font-size:14px">Contact Number</label> -->
                                    </div>
           
           {{else}}
           
                        <div class="input-field col s6">
           <i class="mdi-communication-phone prefix"></i>
                                <input type="text" class="validate" id="cnnumber" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.usernumber}}">
                                   <label for="icon_prefix" style="font-size:14px">Contact Number</label> 
                                    </div>
           
           {{/if}}
           
                  </div>
           
                     <div class="form-group">
                  {{#if currentUser.profile.usermail}}
                         <div class="input-field col s6">
                                    <i class="mdi-communication-email prefix"></i>
                                <input type="text" class="validate" id="email" required="true" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.usermail}}">
<!--                                   <label for="icon_prefix" style="font-size:14px">Email ID</label> -->
                                    </div>
 
                       {{else}}

                                      <div class="input-field col s6">
                                    <i class="mdi-communication-email prefix"></i>
                                <input type="text" class="validate" id="email" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.email}}">
                            <!--      <label for="icon_prefix" style="font-size:14px">Email ID</label> -->
                                    </div>
                       {{/if}}
                  </div>
                  
                               <div class="form-group">
{{#if currentUser.profile.uservs }}
                                 <div class="input-field col s6">
                                 <i class="mdi-action-turned-in prefix"></i>
                                <input type="text" class="validate" id="vstat"  style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.uservs}}">
<!--                                   <label for="icon_prefix" style="font-size:14px">Vital Stats</label> -->
                                    </div>
         {{else}}
                                 
                                   <div class="input-field col s6">
                                 <i class="mdi-action-turned-in prefix"></i>
                                <input type="text" class="validate" id="vstat" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.uservs}}">
                                   <label for="icon_prefix" style="font-size:14px">Vital Stats</label> 
                                    </div>
                                 {{/if}}
                                 
                  </div>
                  
                     <div class="form-group">
           {{#if currentUser.profile.userfund}}            
                       
                    <div class="input-field col s6">
                                    <i class="mdi-editor-attach-money prefix"></i>
                                <input type="text" class="validate" id="fund" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.userfund}}">
<!--                                   <label for="icon_prefix" style="font-size:14px">Are you interested in funding projects?</label> -->
                       </div>
                       
                       {{else}}
                     
                    <div class="input-field col s6">
                                    <i class="mdi-editor-attach-money prefix"></i>
                                <input type="text" class="validate" id="fund" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.userfund}}">
                                <label for="icon_prefix" style="font-size:14px">Are you interested in funding projects?</label> 
                       </div>               
                       {{/if}}
                                    </div>
                 
                          <div class="form-group">
{{#if currentUser.profile.userfwa}}                            
                    <div class="input-field col s6">
                                    <i class="mdi-editor-mode-edit prefix"></i>
                                <input type="text" class="validate" id="fwa" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.userfwa}}">
<!--                                   <label for="icon_prefix" style="font-size:14px"> FWA Membership Number </label> -->
                                    </div>
    {{else}}
                <div class="input-field col s6">
                                    <i class="mdi-editor-mode-edit prefix"></i>
                                <input type="text" class="validate" id="fwa" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.userfwa}}">
                                   <label for="icon_prefix" style="font-size:14px"> FWA Membership Number </label>     
                  </div>
        
                            
                 {{/if}}           
                        
                  </div>
                      <div class="form-group">
                  
                          <div class="input-field col s6">
                                    <i class="mdi-action-event prefix"></i>
                                <input type="date" class="datepicker" id="user-birthday" required="true" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" value="{{currentUser.profile.birthday}}">
                                  <label for="icon_prefix" style="font-size:14px">Birthday </label>
                                    </div>
                 
                  </div>
         
                   <div class="form-group">
    

                     
 <i class="mdi-action-account-child prefix"></i> 
                     
                     <label for="user-gender" style="font-size:14px">Gender</label>
                       
                            <select class="form-control" style="width: 50%;" id="user-gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                       
                    </div>
                  
                        <div class="form-group">

                         <div class="input-field col s6">
                                    <i class="mdi-action-work prefix"></i>
                                <input type="text" id="tagInput"  style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px">
                                 <label for="icon_prefix" style="font-size:14px">Occupation </label>
                                                                   <span class="input-group-btn">
                                    <button id="btn-add-tag" class="btn btn-primary" type="button">
                                        Add
                                    </button>
                                </span>
                                    </div>
                            <div class="tags-list col-md-12">
                                Occupation:
                                    {{#each currentUser.profile.tags}}
                                    <span class="tag">
                                        <i class="fa fa-times dismiss-tag"></i>  <span class="tag">   {{this}}  </span>
                                    </span>
                                {{/each}}
                            </div>
                          
                          
                            </div>
                     
                  



                        
                    <div class="form-group">

                 {{#if currentUser.profile.bio}}     
                          <div class="input-field col s6">
                        <i class="mdi-editor-mode-edit prefix"></i>
                          
                            
       <textarea id="user-bio" value="{{currentUser.profile.bio}}" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" placeholder="Biography" class="materialize-textarea"></textarea>
                            
                        </div>

                      {{else}}
                      
                           <div class="input-field col s6">
                        <i class="mdi-editor-mode-edit prefix"></i>
                          
                            
       <textarea id="user-bio" value="{{currentUser.profile.bio}}" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">Biography</label>
                            
                        </div>
{{/if}}
                      
                      
                    </div>
                  
                  
                  
                  
                  
                  
                  
                          <div class="form-group">

                 {{#if currentUser.profile.org}}     
                          <div class="input-field col s6">
                        <i class="mdi-editor-mode-edit prefix"></i>
                          
                            
       <textarea id="user-org" value="{{currentUser.profile.org}}" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" placeholder="Organization/Designation" class="materialize-textarea"></textarea>
                            
                        </div>

                      {{else}}
                      
                           <div class="input-field col s6">
                        <i class="mdi-editor-mode-edit prefix"></i>
                          
                            
       <textarea id="user-org" value="{{currentUser.profile.org}}" style="border:none; border-bottom: 1px solid #9e9e9e; font-size:18px" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">Organization/Designation</label>
                            
                        </div>
{{/if}}
                      
                      
                    </div>
                  
                  
                  
                  
                  

         <!--<div class="form-group">-->
                    <!--<label class="col-md-3 control-label"></label>-->
                    <!--<div class="col-md-8">-->
                    <input type="submit" class="btn waves-effect waves-light" value="Save Changes">
                    <!--<span></span>-->
                    <!--<input type="reset" class="btn btn-default" value="Cancel">-->
                    <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
        </div>
    </div>

</template>