<template name="msgnotification">
    <ul class="msgnotification-list">
        <li class="msgnotification-item">
            {{#if msgnotificationType '1'}}
                {{#with user}}
                    <a href="{{pathFor 'profile' username=this.username}}">
                        <img src="{{avatar}}" alt="{{username}}" width="20" height="20"/>
                    </a>
                {{/with}}
                {{#with pm}}

                    <a href="{{pathFor 'privateMessage'}}" class="mark-msgnotification-as-read">
                        {{#with msgnotification}}
                            <span class="author">{{author}}</span> <span class="new-message">sent </span> <span class="rest-message"> a new message.</span>
                        {{/with}}
                    </a>

                {{/with}}
            {{/if}}
         
        </li>
    </ul>
</template>