<template name="wall">

    <div class="row">
        <div class="col-lg-12 ">
            <h6 class="wall_profile_header">{{user_name currentProfile.profile}} <span class="pull-right">{{online}} </span></h6>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="avatar_box">
                {{#if avatar}}
                    <img src="{{avatar.url store='images'}}" class="avatar"/>
                {{else}}
                    <img src="/img/deactivated_100.gif" class="def_avatar"/>
                {{/if}}
            </div>
            <div class="user_wall_actions">
                {{#if is_friend}}
                    <p><a href="javascript:;" class="remove_from_friends">Remove from friends</a></p>
                {{else}}
                    {{#if my_invite}}
                        <p><a href="javascript:;" class="cancel_friend_request">Cancel Friend Request</a></p>
                    {{else}}
                        {{#if invite}}
                            <p><a href="javascript:;" class="decline_friendship">Decline Friend Request</a></p>
                            <p><a href="javascript:;" class="accept_friendship">Accept Friendship</a></p>

                        {{else}}
                            <p><a href="javascript:;" class="add_friend">Add to friends</a></p>
                        {{/if}}
                    {{/if}}
                {{/if}}
                <p><a href="{{pathFor 'peopleAudio' _id=currentProfile._id}}" >Music</a></p>
                <p><a href="{{pathFor 'conversation' _id=currentProfile._id}}" class="start_chat">Start Chat</a></p>
            </div>
        </div>
        <div class="col-lg-8">
            {{#if on_mind currentProfile.profile.on_mind}}
                 <a class="text-muted">{{currentProfile.profile.on_mind}}</a>
            {{/if}}
            <h6 class="wall_profile_header"><a href="javascript:;" class="show_all_wall_images pull-right"><strong>Show all pictures</strong></a></h6>
            {{#each wallImages}}
                <div class="col-lg-4">
                    <img src="{{url store='images'}}" class="wall_image" height="100" width="100"/>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4 class="wall_records_header">Last records <span class="pull-right"><a class="switch_wall">Show only {{currentProfile.profile.name}} records</a> </span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
           <textarea  class="form-control wall_textarea" rows="1" cols="45" placeholder="Whats New?"></textarea>
        </div>
        <div class="col-lg-1">
            <i class="fa fa-chevron-down pull-right fa-2x"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-info btn-sm new_wall slow_hidden">Send</button>
            <a class="append_to_wall slow_hidden pull-right">Append</a>
            <div class="slow_hidden wall_append_box">
                <a>Image</a>
                <a>Video</a>
            </div>
        </div>
    </div>
    {{#each wall}}
        <div class="row">
            <div class="col-lg-12 each_wall_in_list">
                <div class="col-lg-2">
                    <a href="{{pathFor 'wall' _id=sender}}">
                        <img src="{{avatar_url sender}}" alt="image" class="img-thumbnail" height="50" width="50"/>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <p>{{senderName}}</p>
                    </div>
                    <p> {{message}}</p>
                </div>
                <div class="col-lg-4">
                    <i class="fa fa-trash-o remove_wall pull-right "></i>
                    {{prettifyDate created_at}}
                </div>
            </div>
        </div>
    {{/each}}
</template>