<template name="postRecipe">
  <div class="postRecipe">
    <h1>Post your Project</h1>
<br />
<br />
    <form class="main form">
      
        <div class="form-group input-field">
                <label for="title" style="font-size:100%;" >Title</label>
                <input type="text" name="title" class="form-control" id="title" style="font-size:100%;" required="true">
            </div>
      
      
        <div class="form-group input-field">
                <label for="designation" style="font-size:100%;" >Designation</label>
                <input type="text" name="designation" class="form-control" id="designation" style="font-size:100%;" required="true">
            </div>
      

      <div class="form-group">
        <label class="control-label" for="imageInput">Image</label>
        <div class="controls post-image-button">
         <button class="customImageUploadBtn btn btn-info" type="button">Image Upload</button>  

        <input type="file" id="imageInput" name="imageInput" style="display:none" multiple />
         </div>
 </div>



      



<div class="form-group">
  <span style="font-size:100%"> Description </span>
            <div class="editable" id="desc" name="desc">
              <br />
              <br />
            <p>
              
              </p>
           <br />
              <br />
        </div>

      </div>

      <br />
      <br />
      <br />


<div class="form-group input-field">
                <label for="tags" style="font-size:100%;" >Tags</label>
                <input type="text" name="tags" class="form-control" id="tags" style="font-size:100%;" required="true">
            </div>


     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>



     
  <script type="text/javascript">
  //  $(".desc").summernote()
    
  var editor = new MediumEditor('.editable', {
    anchorInputPlaceholder: 'Type a link',
    diffLeft: 25,
    diffTop: 10,
    firstHeader: 'h1',
    secondHeader: 'h2',
    delay: 1000,
    targetBlank: true
});
    
  </script>

</template>


 