<template name="projectLists">
  <div class="projects row">


    {{#each projects}}
      
<div class="col-sm-4 col-md-3 project-grid">
<a href="{{pathFor 'projectPage'}}">
        <div class="each-project">

        {{#if hasImage}}
<img src="{{src}}" style="width:25%; height=125px; " />

        {{/if}}
          <p><a href="{{pathFor 'projectPage'}}"><strong>{{title}}</strong></a></p>
          <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{author}}</a></p>
          <p>{{pluralize commentsCount "comment"}}</p>
          <p>{{pluralize votes "vote"}}</p>
        </div>

  </a>
        {{#if currentUser}}
          <a href="#" class="upvote btn {{upvotedClass}}">
            {{#if canVote}}
              &#11014;
            {{else}}
              &#11015;
            {{/if}}
          </a>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{#if nextPath}}
    <br>
    <a class="btn btn-info" href="{{nextPath}}">Load more</a>
  {{/if}}
  {{#unless ready}}
    {{> loading}}
  {{/unless}}
</template>