<template name="projectEdit">  

  <div class="postRecipe">
    <h1>Edit your Project</h1>

    <form class="main form">
      <div class="form-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Recipe title" class="form-control"/>
        </div>
        
          <div class="form-group input-field">
                <label for="designation" style="font-size:100%;" >Designation</label>
                <input type="text" name="designation" class="form-control" id="designation" style="font-size:100%;" required="true">
            </div>
      
        
      </div>
      <div class="form-group">
        <label class="control-label" for="imageInput">Image</label>
        <div class="controls post-image-button">
          <button class="customImageUploadBtn btn btn-info" type="button">Image Upload</button>
          <input type="file" id="imageInput" name="imageInput" multiple />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="desc">Description</label>
        <div class="controls">
          <textarea name="desc" id="desc" type="text" value="{{desc}}" placeholder="Description" class="form-control" rows="10"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="tags">Tag</label>
        <div class="controls">
          <input name="tags" id="tags" type="text" value="{{tags}}" placeholder="Tags, Tags, Tags" class="form-control"/>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
      <hr>
      <button class="btn btn-danger delete">Delete Project</button>
    </form>
  </div>

</template>