<template name="search">
  <div class="postRecipe">
    <h1>Search</h1>
    <div class="form-group">
      <div class="controls">
        <input name="searchq" id="searchq" type="text" value="" placeholder="Tags, Title, Desc" class="form-control"/>
      </div>
    </div>

    {{> searchResult}}
  </div>
</template>

<template name="searchResult">

  <div class="wrap">

<div id="columnss">
  
  {{#if searchResult}}
  
    {{#each searchResult}}
      <div class="pin" style=" padding: 10px; box-shadow: -2px 2px 10px #DEDEDE; ">
        <div class="each-project">

   {{#if hasImage}}

<div style=" background: url({{src}}); margin: -4%; ">

<br />

<br />

<br />
<br />
<br />
<br />


<br />
</div>

        {{/if}}

<br />
<br />
          <p><a href="{{pathFor 'projectPage'}}"><strong>{{title}}</strong></a></p>
          <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{author}}</a></p>
          <p>{{pluralize commentsCount "comment"}}</p>
          <p>{{pluralize votes "vote"}}</p>
        </div>
        <a href="#" class="upvote btn {{upvotedClass}}">{{#if canVote}}&#11014;{{else}}&#11015;{{/if}}</a>
      </div>
    {{/each}}
  
  {{else}}
  
  
  
  
  
  {{#each projectsbeforeSearch}}
      <div class="pin" style=" padding: 10px; box-shadow: -2px 2px 10px #DEDEDE; ">
        <div class="each-project">

   {{#if hasImage}}

<div style=" background: url({{src}}); margin: -4%; ">

<br />

<br />

<br />
<br />
<br />
<br />


<br />
</div>

        {{/if}}

<br />
<br />
          <p><a href="{{pathFor 'projectPage'}}"><strong>{{title}}</strong></a></p>
          <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{author}}</a></p>
          <p>{{pluralize commentsCount "comment"}}</p>
          <p>{{pluralize votes "vote"}}</p>
        </div>
        <a href="#" class="upvote btn {{upvotedClass}}">{{#if canVote}}&#11014;{{else}}&#11015;{{/if}}</a>
      </div>
    {{/each}}
  
  
  
  
  
  
  {{/if}}
  </div>
  </div>
</template>