<template name="_header">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#if currentUser}}
        <a class="navbar-brand" href="{{pathFor 'dashboard'}}">spotDada</a>

        {{else}}

<a class="navbar-brand" href="{{pathFor 'home'}}">spotDada</a>

{{/if}}
      </div>

      <div class="collapse navbar-collapse" id="main-nav">


      
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            
{{> atNavButton}}
          <!--   <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.username }} <i class="fa fa-caret-down"></i>
              </a>
               <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
              </ul>
             </li> -->
          </ul>
        {{else}}
          <div class="navbar-right">
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
            <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a>
          </div>
        {{/if}}
<ul class="nav navbar-nav navbar-right">
                        {{#if currentUser}}

<li style=" margin-top : 10px;">
  {{>userSearch}}

</li>

                            <li class="new-page account-page">
                                <!-- <a>Hi, {{currentUser.username}}.</a> -->

                                <a href="{{ pathFor 'postRecipe' }}" rel="Upload Projects"> <i class="glyphicon glyphicon-upload" > </i> </a>  
                            </li>
         <li style=" margin-top : 5px;">
            
             <div class="messages-block {{#if navTabIsActive 'privateMessagesList'}}active{{/if}}" style="padding: 10px;">
                <a href="{{pathFor 'privateMessagesList'}}">
 
 <span class=" glyphicon glyphicon-envelope messages-link" style=" font-size: 17px;
color: black; ">{{#if msgnotificationCount}}
        <span class="badge badge-inverse msgnotifications-counter">{{msgnotificationCount}}</span>
    {{/if}}</span>
                     
                </a>
            </div>

        </li>
<li class="notification" style=" margin-top : 5px;" >    {{> notificationss}}  </li>
                            <li class="new-page account-page"><a href="{{pathFor 'account'}}" id="btn-profile">Account</a></li>                           
                        {{/if}}
                    </ul> 


        
      </div>

    </div>
  </nav>

</template>
