 <template name="_header">

<header>
      <nav class="top-nav" style="height:100%">
        <div class="container">
          <div class="nav-wrapper" style="margin-left:15%;" >
      <ul> 
        <li style="  width: 64%; margin-left: 20%;">         {{>userSearch}} </li>
   
    <li style="  margin-left: 10%;">  {{>notificationss}}
        </li>
        
        
        
        </ul>



        
            
         </div>
          
          
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="{{pathFor 'dashboard'}}" class="brand-logo">
            spotDada</a></li>

        
         <li class="logo">
        
        {{#if currentUser.profile.avatar}}
                    <img src="{{currentUser.profile.avatar}}" class="avatar img-rounded" alt="avatar" style="width: 100px;height: 100px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 100px;">
                {{/if}}
        
        </li>
        
        
        <li class="bold"><a href="{{pathFor 'events'}}" class="waves-effect waves-teal">Events</a></li>
        <li class="bold"><a href="{{pathFor 'followings' username=signedInUser}}" class="waves-effect waves-teal">{{signedInUser}}'s Portfolio</a></li>
      
        
           <li class="bold"><a href="{{pathFor 'search'}}" class="waves-effect waves-teal">Events</a></li>
        <li class="bold"><a href="{{pathFor 'fundings'}}" class="waves-effect waves-teal">Fundings</a></li>
        
           <li class="bold"><a href="{{pathFor 'resources'}}" class="waves-effect waves-teal">Resources</a></li>
        <li class="bold"><a href="/blog" class="waves-effect waves-teal">Blog</a></li>
        
      </ul>
    </header>


    <script type="text/javascript">
  
    $(document).ready(function(){
     $(".button-collapse").sideNav();
   });
   
    
    
    

</script>



 </template>