 <template name="_header">

<header>
      <nav class="top-nav" style="height:100%; background: rgb(21, 8, 8); ">
        <div class="container" style="height:73px">
          <div class="nav-wrapper" style="margin-left:15%; background:rgb(21, 8, 8);" >
      <ul> 
        <li style="  width: 56%; margin-left: 20%;">         {{>userSearch}} </li>
   
    <li style="  margin-left: 10%;">  {{>notificationss}}
        </li>
        
    <li >  
      
      <a class='dropdown-button logoutbutton' href="#" > <i class="large mdi-action-settings-power"></i>
      </a> 
      
       
        </li>
         
          
        
        
        
        </ul>



        
            
         </div>
          
          
        </div>
      </nav>
      
      <div class="container" ><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a></div>
      
<center>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo" style="background: rgb(21, 8, 8);  height: 12%;">
        <a id="logo-container" href="{{pathFor 'dashboard'}}" class="brand-logo">
           <img src="/spotdadalogo.jpg" style="  height: 21%;width: 82%;" />  </a>

          
            </li>


              
         <li class="logo" >
        
        {{#if currentUser.profile.avatar}}
                    <img src="{{currentUser.profile.avatar}}" class="avatar img-rounded" alt="avatar" style="width: 100px;height: 100px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 100px;">
                {{/if}}
        
        </li>
       
         <li class="bold"><a href="{{pathFor 'followings' username=signedInUser}}" class="waves-effect waves-teal">{{signedInUser}}'s Portfolio</a></li>
      

                   <li class="bold"><a href="{{pathFor 'search'}}" class="waves-effect waves-teal">Browse Projects</a></li>

        
        <li class="bold"><a href="{{pathFor 'events'}}" class="waves-effect waves-teal" style="font-face:myFirstFont;">Events</a></li>
       
        
        <li class="bold"><a href="{{pathFor 'fundings'}}" class="waves-effect waves-teal">Fundings</a></li>
        
           <li class="bold"><a href="{{pathFor 'resources'}}" class="waves-effect waves-teal">Resources</a></li>
        <li class="bold"><a href="/blog" class="waves-effect waves-teal">Blog</a></li>
        
      </ul>

      </center>
    </header>


    <script type="text/javascript">
  
    $(document).ready(function(){
     $(".button-collapse").sideNav();
   });
   
    
    
    

</script>



 </template>