<template name="atFooter">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=565958750206578&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
  
 <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">About Spotdada</h5>
            <p class="grey-text text-lighten-4">
            
              One Paragraph Comes Here
              
            </p>
         
            <p class="grey-text text-lighten-4"> 
             <a href="{{pathFor 'about'}}">About</a> |
            </p>
            
          </div>
          <div class="col l4 s12">
            <h5 class="white-text">Contact Us</h5>
            <p class="grey-text text-lighten-4">
            
              Phone No and Shit Comes Here
            
            </p>
            
              <p class="grey-text text-lighten-4"> 
             <a href="{{pathFor 'contact'}}">Contact Us</a> |
            </p>
            
            <a class="btn waves-effect waves-light red lighten-3" target="_blank" href="{{pathFor 'about'}}">Terms</a>
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">Connect</h5>
        
            <br>
<!-- Place this tag where you want the button to render. 
<a class="github-button" href="https://github.com/spotdada" data-style="mega">Follow @spotdada</a>            <br>
            -->
              <a href="https://github.com/spotdada"><i class="fa fa-github fa-3x"></i></a>
                                   <a href="https://www.facebook.com/spotdadaofficial"><i class="fa fa-facebook fa-3x"></i></a>

        

  <!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>        
  
          </div>
        </div>
      </div>
      <div class="footer-copyright" style="bottom:0px">
        <div class="container">
        © 2014-2015 spotDada, All rights reserved.
       
        </div>
      </div>
    </footer>
  
  </template>