ul.side-nav.fixed li{
  
    line-height: 44px;
  
}

a:hover{
  
  text-decoration:none;
  
}


.page-footer{
  
  margin-left: 17%;
  width: 84%;

  
}
 
@font-face {
    font-family: myFirstFont;
  src: url("/fonts/Whipsmart.ttf")
}