<template name="left_menu">
    <ul class="nav nav-pills nav-stacked left_menu">
        <li class="menu_main_page {{active '/'}}"><a href="{{pathFor 'home'}}"><i class="fa fa-home fa-fw"></i> My page</a></li>
        <li class="menu_friends {{active '/friends'}}"><a href="{{pathFor 'friends'}}"><i class="fa fa-user fa-fw"></i> Fiends<span class="badge pull-right new_friend_badge">{{invitations_count}}</span></a></li>
        <li class="menu_conversations {{active '/conversations'}}"><a href="{{pathFor 'conversations'}}"><i class="fa fa-envelope-o fa-fw"></i>Messages<span class="badge pull-right new_messages_badge">{{notifications}}</span></a></li>
        <li class="menu_settings {{active '/my_audio'}}"><a href="{{pathFor 'my_audio'}}"><i class="fa fa-play fa-fw"></i> My Music</a></li>
        <li class="menu_users  {{active '/people'}}"><a href="{{pathFor 'people'}}"><i class="fa fa-user fa-fw"></i> All People</a></li>
        <li class="menu_settings {{active '/settings'}}"><a href="javascript:;"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>


        <!--ONLY FOR MOBILE DEVICES-->
        <li class="menu_settings visible-xs"><a href="javascript:;" class="sign_out"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
    </ul>
</template>