<template name="layout">
    <head>
        <title>Spotdada</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        {{>yield 'header'}}



        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class='col-lg-2'>
                            {{>yield 'left_menu'}}
                        </div>
                        <div class="col-lg-7">
                            {{>yield}}
                        </div>
                        <div class="col-lg-3">
                            {{>yield 'right_menu'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</template>