<template name="about">
  
  <div class="parallax-container">
     <div class="parallax"><img style="display:block;" src="img/bg.jpg"></div>
    
  </div>

  <div class="section white">
    <div class="row container">
      
      <div class="col s4 offset-s4 grid-example">
        <h2 class="header">About Us</h2>
      <p class="grey-text text-darken-3 lighten-3">
     
        
            <p style="text-align: justify;">......  that when Prakash Mehra first arrived in Bollywood with his script of ‘Zanjeer’, he was sent packing from every production house and star mansion. Finally fatigued and frustrated, he decided to make the film himself with a brand new hero. Zanjeer only made it to the theatres because it had a superstar heroine – Jaya ‘Guddi’ Bhaduri. The rest as they say, is history. The film broke all records and it gave Bollywood its greatest superstar of the millennium – Amitabh Bachchan.</p>
<p style="text-align: justify;">.... that Ashutosh Gowarikar faced similar rejection when he peddled his classic ‘Lagaan’ script at one producer’s door after another. Finally Aamir Khan stepped into the picture and took ‘Lagaan’ all the way to the Oscars!</p>
  </p>     
    </div>

  </div>

  </div>



  <div class="parallax-container">
    <div class="parallax"><img style="display:block;" src="img/background-intro.jpg"></div>
  </div>
  {{> footerHome}}
</template>