<template name="about">
  <p style="text-align: justify;"> It is an open secret.....</p>
<p style="text-align: justify;">......  that when Prakash Mehra first arrived in Bollywood with his script of ‘Zanjeer’, he was sent packing from every production house and star mansion. Finally fatigued and frustrated, he decided to make the film himself with a brand new hero. Zanjeer only made it to the theatres because it had a superstar heroine – Jaya ‘Guddi’ Bhaduri. The rest as they say, is history. The film broke all records and it gave Bollywood its greatest superstar of the millennium – Amitabh Bachchan.</p>
<p style="text-align: justify;">.... that Ashutosh Gowarikar faced similar rejection when he peddled his classic ‘Lagaan’ script at one producer’s door after another. Finally Aamir Khan stepped into the picture and took ‘Lagaan’ all the way to the Oscars!</p>
<p style="text-align: justify;">That was then.....</p>
<p style="text-align: justify;">This is NOW!!</p>
<p style="text-align: justify;">Want to direct a film / tv/theatre/ compose music/ act /share your script /basically become a part of the film fraternity?</p>
<p style="text-align: justify;"><strong>Welcome to Spotdada</strong></p>
<p style="text-align: justify;"><strong>Spotdada</strong> is the first <strong>FREE</strong> social media network website amongst the film, television, ad and theatre fraternity and provides them a stage to showcase their talent and their work.</p>
<p style="text-align: justify;">This website also focuses on providing a platform to films that do not have the adequate coverage and budget to see a release.</p>
<p style="text-align: justify;"><strong>Spotdada</strong> is a long overdue gift from the world of technology to the world of cinema. It’s a cyber connection that goes so much further than any site in terms of connecting artistes and projects within the entertainment industry. It works on so many levels, connecting actors with directors, directors with producers, producers with cast and crew and so on to pr and marketing and finally to distribution and theatre owners.</p>
<p style="text-align: justify;">As everyone knows, any successful venture, be it films / tv / theatre is truly a collaborative effort. <strong>Spotdada</strong> offers you to find those collaborators and offers you a place to discuss and develop your ideas; to make your dream projects come to life.</p>
<p style="text-align: justify;"><strong>Objectives of Spotdada</strong></p>
<p style="text-align: justify;"><strong>Build your filmy network</strong></p>
<p style="text-align: justify;">Connect with cast, crew and industry execs. Build lasting relationships and take a step up in your career.</p>
<p style="text-align: justify;"><strong>List your projects</strong></p>
<p style="text-align: justify;">Find cast and crew, attract funding and get your project off the ground. Showcase your completed projects.</p>
<p style="text-align: justify;"><strong>Find work</strong></p>
<p style="text-align: justify;">See who's hiring in your area for your skill set. Easily get in touch with producers and casting directors.</p>
<p style="text-align: justify;"><strong>Different kind of content</strong></p>
<p style="text-align: justify;">The content on our website will be different from others and will be focusing on the film fraternity news (not only the stars but the technicians as well) as well as concentrating on independent film news and on the shoot stories which no one carries.</p>
<p style="text-align: justify;"><strong>Great Resources to learn</strong></p>
<p style="text-align: justify;">Spotdada also has great learning resources for our members which ranges from film festivals (domestic as well as international) to film making institutes (domestic as well as international) and many other material</p>
<p style="text-align: justify;"><strong>New Concept of Film Crew Groups</strong></p>
<p style="text-align: justify;">Much like whatsapp groups, film crew groups are groups where people can chat, discuss as well share documents with one another relating to a film or a community.</p>
<p style="text-align: justify;"><strong>New Concept of Meet Up Groups</strong></p>
<p style="text-align: justify;">Meetup groups make it easy for anyone to organize a local group or find one of the thousands already meeting up face-to-face according to his preferred area.</p>
<p style="text-align: justify;"><strong>Who's on Spotdada?</strong></p>
<p style="text-align: justify;">Spotdada - a community for you, built by you. The <strong>Spotdada</strong> community is strictly for people working in or with a desire to work in film or theatre. It's a place to gather, to discuss and develop projects, to join actor with director, director with producer, producer with cast and crew. Here, you can grow your contact list and build a pertinent network in rapid fashion. The more you participate, the greater the results. As the saying goes, it's not what you know, it's who you know. Though we are mainly catering to only the Indian film industry, people from anywhere in the world can become our members.</p>
<p style="text-align: justify;">Simply put, Spotdada is the online community uniquely populated by the most creative people on Earth.</p>
<p style="text-align: justify;">All members are divided according to their job roles they working as or want to work  in the industry as:-</p>
<ul style="text-align: justify;">
<li>Actors / Acting Talent</li>
<li>Director / Direction Department</li>
<li>Producer</li>
<li>Production Department</li>
<li>Writer</li>
<li>Music Department</li>
<li>Sound Department</li>
<li>Camera Department</li>
<li>Design Department (Prod/ Make Up /Costume)</li>
<li>Marketing + PR Department</li>
<li>Choreography Department / Dancers</li>
<li>Editors / Post Production Department</li>
</ul>
</template>