<template name="contact">
    <p>
					If any queries, Please fill the form below and we will get back to you as soon as we can
				</p>
				<br>
					<form method="post" action="MAILTO:kabeerghosh@gmail.com">
						<div class="row">
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Name" name="name">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Email" name="email">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Phone" name="phone">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Type your message here..." class="form-control" rows="9" name="message"></textarea>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-6 text-right">
								<input class="btn btn-action" type="submit" value="Send message">
							</div>
						</div>
					</form>

</template>