<template name="testimonial">
    <div class="jsn-article">
        <h2>
					client 4			</h2>
        <p>
            <img src="http://i.ndtvimg.com/mt/movies/2014-08/ranveer-eur" border="0" alt="" />
        </p>
        <p>Spotdada has been incredibly valuable for someone like me who aims to straddle the worlds of both television and features. I've been a big fan of social networking sites because of the heightened ability to share, and be exposed to, a wealth of new ideas. Spotdada goes so much further than any site I know in terms of connecting artists and projects within the entertainment industry.</p>
        <p>Ranv</p>
    </div>
    <div class="article_separator"></div>

    <div class="clearfix"></div>

    <div class="row_separator"></div>
    <div class="items-row cols-1 row-0 row-fluid">
        <div class="span12">
            <div class="item column-1">

                <div class="jsn-article">
                    <h2 class="contentheading">
					client 3			</h2>

                    <p>
                        <img src="https://pbs.twimg.com/profile_images/460052965890338817/qKIhS6K7.jpeg" border="0" alt="" />
                    </p>
                    <p>All I can say is WOW! You've done it again and even better. I will join right away!"</p>
                </div>
                <div class="article_separator"></div>
            </div>
        </div>
    </div>
    <div class="items-row cols-1 row-1 row-fluid">
        <div class="span12">
            <div class="item column-1">
                <div class="jsn-article">
                    <h2 class="contentheading">
					client 2			</h2>
                    <p>
                        <img src="http://www.pinkvilla.com/files/zpf_30.jpg" border="0" alt="" />
                    </p>
                    <p>"I was not born into the age of technology. There was nothing like Spotdada available to the hungry young artist. Support and connections were made in the foyers of theaters or at the local pub most frequented by actors and directors, mostly out of work. Spotdada is a gift of the new age, a cyber connection that works on so many levels. Bravo to Spotdada staff. Aim high and life will support you.</p>
                    <p>Ami</p>
                </div>
                <div class="article_separator"></div>
            </div>
        </div>

    </div>
    <div class="items-row cols-1 row-2 row-fluid">
        <div class="span12">
            <div class="item column-1">

                <div class="jsn-article">
                    <h2 class="contentheading">
					client 1			</h2>
                    <p>
                        <img src="https://pbs.twimg.com/profile_images/460052965890338817/qKIhS6K7.jpeg" border="0" />
                    </p>
                    <p>"I'd like to Congratulate the team Spotdada for the great community site provided for the aspiring people. I would recommend all the public to come and join and share all your talents and appreciate</p>
                    <p>Kat</p>
                </div>
                <div class="article_separator"></div>
            </div>
        </div>
    </div>
</template>