<template name="profile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                          {{#if profile.avatar}}
                            <img src="{{profile.avatar}}" class="avatar img-rounded" alt="avatar" style="max-width: 200px;max-height: 200px">
                         {{else}}
                    <img src="/default.jpg" class="avatar img-circle" alt="avatar">
                {{/if}}


                        </div>
                        <div class="col-sm-6 col-md-8">
                    
      <ul class="nav nav-tabs events-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#sectionA">
                        <i class="fa fa-list-ul"></i> About {{username}} 
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#sectionB">
                        <i class="fa fa-bookmark"></i> {{username}}'s Followers
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#sectionC">
                        <i class="fa fa-search"></i> {{username}}'s Followings
                    </a>
                </li>
            </ul>




 <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <h3>About {{username}} </h3>
                     <h4>{{profile.firstname}} {{profile.lastname}}</h4>
                            <br> <h6> @{{username}}</h6>  
                              <span class="pm-editable">{{> privateMessageCreateEditableButton}} </span>

                           {{#if profile.usermail}}    
                            <p><i class="fa fa-envelope-o"></i> {{profile.usermail}}</p>
                            {{/if}}

                             {{#if profile.birthday}}
                            <p><i class="fa fa-gift"></i> {{profile.birthday}}</p>
                            {{/if}}

                            {{#if profile.bio}}
                            <p><i class="fa fa-info-circle"></i> {{profile.bio}}</p>
                            {{/if}}

                             {{#if profile.city}}

                            <p>City<i class="fa fa-info-circle"></i> {{profile.city}}</p>

                            {{/if}}

                             {{#if profile.lang}}
                            <p>Languages<i class="fa fa-info-circle"></i> {{profile.lang}}</p>
                            {{/if}}

                             {{#if profile.usernumber}}
                            <p>Ph Number<i class="fa fa-info-circle"></i> {{profile.usernumber}}</p>
                            {{/if}}

                             {{#if profile.uservs}}
                            <p>Vital Stats<i class="fa fa-info-circle"></i> {{profile.uservs}}</p>
                            {{/if}}


                             {{#if profile.userfund}}
                            <p>Funding Interests<i class="fa fa-info-circle"></i> {{profile.userfund}}
                            </p>
                             {{/if}}

                             {{#if profile.userfwa}}
                            <p>FWA membership Number<i class="fa fa-info-circle"></i> {{profile.userfwa}}</p>
                             {{/if}}

                              {{#if profile.org}}
                            <p>Organization<i class="fa fa-info-circle"></i> {{profile.org}}</p>
 
                            {{/if}}
                </div>
                <div id="sectionB" class="tab-pane fade">
                    <h3>{{username}}'s Followers</h3>
<div id="fol">
  

</div>

                  
   {{#if followers}}
      

                    <h6> {{followerscount}} Followers </h6>
                              {{#each followers}}
                        
                           {{followername}} 

                      {{/each}}    


     

      {{else}}            
                   <h4> Fucker Follow someone!</h4>


  {{/if}}  
                </div>
                <div id="sectionC" class="tab-pane fade">
                    {{#if followings}}



                    <h1>{{username}}'s Followings</h1>

  <h6> {{followingscount}} Followings </h6>

   {{#each followings}}

       {{followingname}}

                      {{/each}}    

{{else}}

<h4>
  Awwww! Nobody follows you bro! :(
</h4>
{{/if}}
                </div>
            </div>







                        </div>

 
                    </div>
                </div>
            </div>
        </div>
{{#if projects}}
    <div>
      <div class="projects row">
{{#if notYourself}}
    <br />
    {{else}}

 <span class="btn btn-danger">  <a href="{{ pathFor 'postRecipe' }}" rel="Upload Projects">  Upload Project</a>   </span>

  {{/if}}

       {{#each projects}}
          <div class="col-sm-4 col-md-3 project-grid">
            <div class="each-project">
              <p><a href="{{pathFor 'projectPage'}}"><strong>{{title}}</strong></a></p>
              <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{author}}</a></p>
              <p>{{pluralize commentsCount "comment"}}</p>
              <p>{{pluralize votes "vote"}}</p>
            </div>
            {{#if currentUser}}
              <a href="#" class="upvote btn {{upvotedClass}}">
                {{#if canVote}}
                  &#11014;
                {{else}}
                  &#11015;
                {{/if}}
              </a>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <p>No Projects</p>
  {{/if}}

  {{#if notYourself}}
    {{#if canFollow}}
      <button class="btn btn-info follow">Follow</button>
    {{else}}
      <button class="btn btn-warning unfollow">Unfollow</button>
    {{/if}}
   

  {{/if}}
  
    </div>
</template>
