<!-- <template name="profile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                          {{#if profile.avatar}}
                            <img src="{{profile.avatar}}" class="avatar img-rounded" alt="avatar" style="width: 200px;height: 200px">
                         {{else}}
                    <img src="/default.jpg" class="avatar img-circle" alt="avatar">
                {{/if}}

{{#if notYourself}}
    <br />

<span class="pm-editable">{{> privateMessageCreateEditableButton}} </span>

    {{else}}

 <span class="btn btn-danger">  <a href="{{ pathFor 'postRecipe' }}" rel="Upload Projects">  Upload Project</a>   </span>

  {{/if}}

{{#if notYourself}}
    {{#if canFollow}}
      <button class="btn btn-info follow">Follow</button>
    {{else}}
      <button class="btn btn-warning unfollow">Unfollow</button>
    {{/if}}

{{#if notYourself}} <span class="pm-editable">{{> privateMessageCreateEditableButton}} </span> 
{{/if}}   

  {{/if}}
  

<table>
  
  <tr>
  <td>
    Followers
  </td>
    
    <td>
      
      Followings

    </td>

    <td>
      
Projects
    </td>

  </tr>

<tr>
  <td> {{followerscount}}  </td>

<td>  {{followingscount}} </td>

{{#if projectscount }}
<td> {{projectscount}} </td>

{{else}}

<td> 0 </td>

{{/if}}
</tr>

</table>
                        </div>
                        <div class="col-sm-6 col-md-8">
                    
      <ul class="nav nav-tabs events-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#sectionA">
                        <i class="fa fa-list-ul"></i> About {{username}} 
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#sectionB">
                        <i class="fa fa-bookmark"></i> {{username}}'s Followers
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#sectionC">
                        <i class="fa fa-search"></i> {{username}}'s Followings
                    </a>
                </li>
            </ul>




 <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <h3>About {{username}} </h3>
                     <h4>{{profile.firstname}} {{profile.lastname}}</h4>
                            <br> <h6> @{{username}}</h6>  
                              

                           {{#if profile.usermail}}    
                            <p><i class="fa fa-envelope-o"></i> {{profile.usermail}}</p>
                            {{/if}}

                             {{#if profile.birthday}}
                            <p><i class="fa fa-gift"></i> {{profile.birthday}}</p>
                            {{/if}}

                            {{#if profile.bio}}
                            <p><i class="fa fa-info-circle"></i> {{profile.bio}}</p>
                            {{/if}}

                             {{#if profile.city}}

                            <p>City<i class="fa fa-info-circle"></i> {{profile.city}}</p>

                            {{/if}}

                             {{#if profile.lang}}
                            <p>Languages<i class="fa fa-info-circle"></i> {{profile.lang}}</p>
                            {{/if}}

                             {{#if profile.usernumber}}
                            <p>Ph Number<i class="fa fa-info-circle"></i> {{profile.usernumber}}</p>
                            {{/if}}
                       {{#if profile.tags}}
                   <div class="tags-list col-md-12">
               Occupation:
                {{#each profile.tags}}
                    <span class="tag">
                         <span class="tag">   {{this}}  </span>
                    </span>
                {{/each}}
            </div>
          {{/if}}
                             {{#if profile.uservs}}
                            <p>Vital Stats<i class="fa fa-info-circle"></i> {{profile.uservs}}</p>
                            {{/if}}


                             {{#if profile.userfund}}
                            <p>Funding Interests<i class="fa fa-info-circle"></i> {{profile.userfund}}
                            </p>
                             {{/if}}

                             {{#if profile.userfwa}}
                            <p>FWA membership Number<i class="fa fa-info-circle"></i> {{profile.userfwa}}</p>
                             {{/if}}

                              {{#if profile.org}}
                            <p>Organization<i class="fa fa-info-circle"></i> {{profile.org}}</p>
 
                            {{/if}}
                </div>
                <div id="sectionB" class="tab-pane fade">
                    <h3>{{username}}'s Followers</h3>
<div id="fol">
  

</div>

                  
   {{#if followers}}
      

                    <h6> {{followerscount}} Followers </h6>
                              {{#each followers}}
              
              <li style="list-style:none">
     <a class="media-left" href="{{pathFor 'profile' username=followername}}">
      {{#if getUserAvatar followingname}}
                    <img src="{{getUserAvatar followingname}}" class="avatar img-rounded" alt="avatar" style="width: 70px;height: 70px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 70px;">
                {{/if}}   <span style="margin-top: 5px;">  {{followername}} </span> 

                </a>
</li>


                          

                      {{/each}}    


     

      {{else}}            
                   <h4> Fucker Follow someone!</h4>


  {{/if}}  
                </div>
                <div id="sectionC" class="tab-pane fade">
                    {{#if followings}}



                    <h1>{{username}}'s Followings</h1>

  <h6> {{followingscount}} Followings </h6>

<div style="overflow-y:scroll;">

   {{#each followings}}
 <li style="list-style:none">
     <a class="media-left" href="{{pathFor 'profile' username=followingname}}">
      {{#if getUserAvatar followingname}}
                    <img src="{{getUserAvatar followingname}}" class="avatar img-rounded" alt="avatar" style="width: 70px;height: 70px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 70px;">
                {{/if}}   <span style="margin-top: 5px;"> {{followingname}}  </span> 

                </a>
</li>
                      {{/each}}    
</div>
{{else}}

<h4>
  Awwww! Nobody follows you bro! :(
</h4>
{{/if}}
                </div>
            </div>







                        </div>

 
                    </div>
                </div>
            </div>
        </div>
{{#if projects}}
    <div>
      <div class="wrap">

<div id="columnss">

       {{#each projects}}
          <div class="pin" style=" padding: 10px;
box-shadow: -2px 2px 10px #DEDEDE; ">
            <div class="each-project">

  {{#if src}}

<div style=" background: url({{src}}); margin: -4%; ">

<br />

<br />

<br />
<br />
<br />
<br />


<br />
</div>

        {{/if}}


        <br />
        <br />

              <p><a href="{{pathFor 'projectPage'}}"><strong>{{title}}</strong></a></p>
              <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{author}}</a></p>
              <p>{{pluralize commentsCount "comment"}}</p>
              <p>{{pluralize votes "vote"}}</p>
            </div>
            {{#if currentUser}}
              <a href="#" class="upvote btn {{upvotedClass}}">
                {{#if canVote}}
                  &#11014;
                {{else}}
                  &#11015;
                {{/if}}
              </a>
            {{/if}}
          </div>
        {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    <p>No Projects</p>
  {{/if}}

  
    </div>
</template>

 -->



<template name="profile">
 
                          <div class="intro deep-orange lighten-2 z-depth-1 container about" style="  margin-top: -2.2%;margin-left: -4%;">
                         
                            <center>
                            
                            {{#if profile.avatar}}
                            <img src="{{profile.avatar}}" class="avatar img-rounded" alt="avatar" style="width: 200px;height: 200px">
                         {{else}}
                    <img src="/default.jpg" class="avatar img-circle" alt="avatar">
                {{/if}}
        <h1 class="grey-text text-lighten-5">   {{profile.firstname}} {{profile.lastname}}


        </h1>
                              
                              {{#if profile.tags}}
                              <h5 clas="grey lighten-4 grey-text text-darken-1">
                              {{#each profile.tags}}
                              
         {{this}},
                              
                              {{/each}}
                               </h5>
      {{/if}}
                              </center>

{{#if notYourself}}
    {{#if canFollow}}
      <button class="btn btn-info follow">Follow</button>
    {{else}}
      <button class="btn btn-warning unfollow">Unfollow</button>
    {{/if}}

 {{/if}}
                            
                            
                              </div>

 <div class="container about">
    

<script type="text/javascript">
    
    $(document).ready(function(){
    $('.tabss').show().tabs();
  });

</script>

   
    <div class="row" style="  margin-left: -4%;">
    <div class="col s12">
      <ul class="tabs tabss z-depth-1" style="margin-left:-15px; width:103px;">
        <li class="tab col s3"><a href="#test1">About</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Followers {{followerscount}} </a></li>
        <li class="tab col s3"><a href="#test3">Followings {{followingscount}} </a></li>
        <li class="tab col s3"><a href="#test4">Projects</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">

    <h3>About {{username}} </h3>
                     <h4>{{profile.firstname}} {{profile.lastname}}</h4>
                            <br> <h6> @{{username}}</h6>  
                              

                           {{#if profile.usermail}}    
                            <p><i class="fa fa-envelope-o"></i> {{profile.usermail}}</p>
                            {{/if}}

                             {{#if profile.birthday}}
                            <p><i class="fa fa-gift"></i> {{profile.birthday}}</p>
                            {{/if}}

                            {{#if profile.bio}}
                            <p><i class="fa fa-info-circle"></i> {{profile.bio}}</p>
                            {{/if}}

                             {{#if profile.city}}

                            <p>City<i class="fa fa-info-circle"></i> {{profile.city}}</p>

                            {{/if}}

                             {{#if profile.lang}}
                            <p>Languages<i class="fa fa-info-circle"></i> {{profile.lang}}</p>
                            {{/if}}

                             {{#if profile.usernumber}}
                            <p>Ph Number<i class="fa fa-info-circle"></i> {{profile.usernumber}}</p>
                            {{/if}}
                       {{#if profile.tags}}
                   <div class="tags-list col-md-12">
               Occupation:
                {{#each profile.tags}}
                    <span class="tag">
                         <span class="tag">   {{this}}  </span>
                    </span>
                {{/each}}
            </div>
          {{/if}}
                             {{#if profile.uservs}}
                            <p>Vital Stats<i class="fa fa-info-circle"></i> {{profile.uservs}}</p>
                            {{/if}}


                             {{#if profile.userfund}}
                            <p>Funding Interests<i class="fa fa-info-circle"></i> {{profile.userfund}}
                            </p>
                             {{/if}}

                             {{#if profile.userfwa}}
                            <p>FWA membership Number<i class="fa fa-info-circle"></i> {{profile.userfwa}}</p>
                             {{/if}}

                              {{#if profile.org}}
                            <p>Organization<i class="fa fa-info-circle"></i> {{profile.org}}</p>
 
                            {{/if}}

    </div>


    <div id="test2" class="col s12">

 <h3>{{username}}'s Followers</h3>
<div id="fol">
  

</div>

                  
   {{#if followers}}
      

                    <h6> {{followerscount}} Followers </h6>
                              {{#each followers}}
              
              <li style="list-style:none">
     <a class="media-left" href="{{pathFor 'profile' username=followername}}">
      {{#if getUserAvatar followingname}}
                    <img src="{{getUserAvatar followingname}}" class="avatar img-rounded" alt="avatar" style="width: 70px;height: 70px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 70px;">
                {{/if}}   <span style="margin-top: 5px;">  {{followername}} </span> 

                </a>
</li>


                          

                      {{/each}}    


     

      {{else}}            
                   <h4> Fucker Follow someone!</h4>


  {{/if}}  

    </div>
    
    <div id="test3" class="col s12">

           {{#if followings}}



                    <h1>{{username}}'s Followings</h1>

  <h6> {{followingscount}} Followings </h6>

<div style="overflow-y:scroll;">

   {{#each followings}}
 <li style="list-style:none">
     <a class="media-left" href="{{pathFor 'profile' username=followingname}}">
      {{#if getUserAvatar followingname}}
                    <img src="{{getUserAvatar followingname}}" class="avatar img-rounded" alt="avatar" style="width: 70px;height: 70px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 70px;">
                {{/if}}   <span style="margin-top: 5px;"> {{followingname}}  </span> 

                </a>
</li>
                      {{/each}}    
</div>
{{else}}

<h4>
  Awwww! Nobody follows you bro! :(
</h4>
{{/if}}

    </div>

       <div id="test4" class="col s12">
      
{{#if projects}}
    <div>
      <div class="wrap">

<div id="columnss">

       {{#each projects}}
          <div class="pin" style=" padding: 10px;
box-shadow: -2px 2px 10px #DEDEDE; ">
            <div class="each-project">

  {{#if src}}

<div style=" background: url({{src}}); margin: -4%; ">

<br />

<br />

<br />
<br />
<br />
<br />


<br />
</div>

        {{/if}}


        <br />
        <br />

              <p><a href="{{pathFor 'projectPage'}}"><strong>{{title}}</strong></a></p>
              <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{author}}</a></p>
              <p>{{pluralize commentsCount "comment"}}</p>
              <p>{{pluralize votes "vote"}}</p>
            </div>
            {{#if currentUser}}
              <a href="#" class="upvote btn {{upvotedClass}}">
                {{#if canVote}}
                  &#11014;
                {{else}}
                  &#11015;
                {{/if}}
              </a>
            {{/if}}
          </div>
        {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    <p>No Projects</p>
  {{/if}}
      </div>
  </div>


      </div>

  


</template>
