<template name="profile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                          {{#if currentUser.profile.avatar}}
                            <img src="{{currentUser.profile.avatar}}" class="avatar img-rounded" alt="avatar" style="max-width: 200px;max-height: 200px">
                         {{/if}}
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>{{currentUser.firstname}} {{currentUser.lastname}}</h4>
                            <p><i class="fa fa-envelope-o"></i> {{currentUser.email}}</p>
                            <p><i class="fa fa-gift"></i> {{currentUser.birthday}}</p>
                            <p><i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
                            <p>City<i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
                            <p>Languages<i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
                            <p>Ph Number<i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
                            <p>Email<i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
                            <p>Vital Stats<i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
                            <p>Funding Interests<i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
                            <p>FWA membership Number<i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
                            <p>Organization<i class="fa fa-info-circle"></i> {{currentUser.bio}}</p>
 

                            <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">
                                    Social</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span><span class="sr-only">Social</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Google +</a></li>
                                    <li><a href="#">Facebook</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  {{#if projects}}
    <div>
      <div class="projects row">
        {{#each projects}}
          <div class="col-sm-4 col-md-3 project-grid">
            <div class="each-project">
              <p><a href="{{pathFor 'projectPage'}}"><strong>{{title}}</strong></a></p>
              <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{author}}</a></p>
              <p>{{pluralize commentsCount "comment"}}</p>
              <p>{{pluralize votes "vote"}}</p>
            </div>
            {{#if currentUser}}
              <a href="#" class="upvote btn {{upvotedClass}}">
                {{#if canVote}}
                  &#11014;
                {{else}}
                  &#11015;
                {{/if}}
              </a>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <p>No Projects</p>
  {{/if}}

  {{#if notYourself}}
    {{#if canFollow}}
      <button class="btn btn-info follow">Follow</button>
    {{else}}
      <button class="btn btn-warning unfollow">Unfollow</button>
    {{/if}}
   

  {{/if}}
        
    </div>
</template>
