<template name="myCircles">
  <div class="container friendList">
    <div class="friendItem"><img class="img-responsive img-circle" src="xNDNQ9uqBGNWm5EJs.jpg" alt=""/></div>
    <div class="friendItem"><i class="fa fa-fw fa-image"></i></div>
    <div class="friendItem"><i class="fa fa-fw fa-image"></i></div>
    <div class="friendItem"><i class="fa fa-fw fa-image"></i></div>
  </div>
  <div class="dropArea">
    <div>
        <div class="dropItem"></div>
        <div class="dropItem"></div>
        <div class="dropItem"></div>
        <div class="dropItem"></div>
    </div>
  </div>
</template>