<template name="navigation">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-inner">
                <a href="/" class="navbar-brand">spotDada</a>
                <ul class="nav navbar-nav">
<!--                    <li><a href="{{pathFor 'home'}}">Flux</a></li>-->
                </ul>

 <ul class="nav navbar-nav navbar-right">
                        {{#if currentUser}}
                            <li>
                                <a>Hi, {{currentUser.username}}.</a>
                            </li>
                            {{#if activeNotificationCount}}
                                <li class="notification" data-count="{{activeNotificationCount}}">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-inbox"></i>
                                    </a>
                                    <ul class="dropdown-menu container" role="menu" aria-labelledby="dropdownMenu1">
                                        {{#each notifications}}
                                            <li class="notification-in-menu" style="{{#if isNew}}background-color: #217dbb;{{/if}}">
                                                <div class="col-md-2">
                                                    <img src="//placehold.it/50" alt="" class="img-responsive img-circle"/>
                                                </div>
                                                <div class="col-md-10">
                                                    <a class="col-md-10 notification-link" style="color: white" href="{{link}}">{{content}}</a>
                                                    <small class="col-md-2">{{timeGap}}</small>
                                                </div>
                                            </li>
                                        {{/each}}
                                        <li style="text-align: center; color: white">
                                            <a href="{{pathFor 'notifications'}}">See All</a>
                                        </li>
                                    </ul>
                                </li>
                            {{else}}
                                <li class="notification-empty">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-inbox"></i>
                                    </a>
                                    <ul class="dropdown-menu container" role="menu" aria-labelledby="dropdownMenu1">
                                        {{#each notifications}}
                                            <li class="notification-in-menu" style="{{#if isNew}}background-color: #217dbb;{{/if}}">
                                                <div class="col-md-2">
                                                    <img src="//placehold.it/50" alt="" class="img-responsive img-circle"/>
                                                </div>
                                                <div class="col-md-10">
                                                    <a class="col-md-10 notification-link" style="color: white" href="{{link}}">{{content}}</a>
                                                    <small class="col-md-2">{{timeGap}}</small>
                                                </div>
                                            </li>
                                        {{/each}}
                                        <li style="text-align: center; color: white">
                                            <a href="{{pathFor 'notifications'}}">See All</a>
                                        </li>
                                    </ul>
                                </li>
                            {{/if}}
                            <li class="new-page account-page"><a href="{{pathFor 'account'}}" id="btn-profile">Account</a></li>                           
                        {{/if}}
                    </ul> 

                
                <ul class="nav navbar-nav navbar-right">
                    {{>loginButtons align="right"}}
                </ul>
            </div>
        </div>
    </nav>
</template>