<template name="navigation">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-inner">
                <a href="/" class="navbar-brand">spotDada</a>
                <ul class="nav navbar-nav">
<!--                    <li><a href="{{pathFor 'home'}}">Flux</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{>loginButtons align="right"}}
                </ul>
            </div>
        </div>
    </nav>
</template>