<template name="profile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                          {{#if currentUser.profile.avatar}}
                            <img src="{{currentUser.profile.avatar}}" class="avatar img-rounded" alt="avatar" style="max-width: 200px;max-height: 200px">
                         {{/if}}
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>{{profile.firstname}} {{profile.lastname}}</h4>
                            <p><i class="fa fa-envelope-o"></i> {{email}}</p>
                            <p><i class="fa fa-gift"></i> {{profile.birthday}}</p>
                            <p><i class="fa fa-info-circle"></i> {{profile.bio}}</p>
                            <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">
                                    Social</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span><span class="sr-only">Social</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Google +</a></li>
                                    <li><a href="#">Facebook</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
