<template name="rightbar">
   
<div class="container" >
        <div class="row">
          
          
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width:33%">
           <iframe width="400" height="315" src="https://www.youtube.com/embed/tjnN0J7K-70" frameborder="0" allowfullscreen></iframe>

            </div>



        </div>

<div class="row">

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width:33%">
           
           <div class="row" >
               <img src="/Ads/1.jpg">

           </div>

        <div class="row" >
               <img src="/Ads/ironmaiden.jpg">

        </div>
            </div>
</div>

<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width:33%">
           
           <div class="row" >
               <img src="/Ads/1.jpg">

           </div>

        <div class="row" >
               <img src="/Ads/ironmaiden.jpg">

        </div>
            </div>
</div>
    </div>


</template>