<template name="rightbar">
<div class="container" style="width:120%">
        <h5>Spotdada TV</h5>
    <div class="row" style="width:39%;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width:40%; margin-left:8px;4px solid #5E5252;">
              
           <iframe width="250" height="315" src="https://www.youtube.com/embed/tjnN0J7K-70" frameborder="3" allowfullscreen></iframe>
            </div>
        </div> 
<br><br>
<div class="row" style="width:33%;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width:40%; margin-left:14px;4px solid #5E5252; background:url('/Ads/ironmaiden.jpg')">
 
   <img src="/Ads/ironmaiden.jpg"> 

            </div>
</div><br><br><br>
    <h5>Classifields</h5>
    <div class="row" style="width:33%;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width:40%; margin-left:14px;4px solid #5E5252; background:url('/Ads/ironmaiden.jpg')">
   <img src="/Ads/ironmaiden.jpg"> 
            </div>
</div>
    </div>
  
  
   <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
  
  
</template>

