<template name="rightbar">
   
<div class="container" >
        <div class="row">
          
          
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width:33%">
           <iframe width="400" height="315" src="https://www.youtube.com/embed/tjnN0J7K-70" frameborder="0" allowfullscreen></iframe>

            </div>



        </div>

<div class="row">

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 well well-lg" style="width:33%; height:60%px;">
            
        <h1>  Ad space  </h1>

<div id="row">
    Ad 2
</div>

<div id="row">
    Add 3
</div>

<div id="row">
    Add 4
</div>

<div>
    
    Ad 5
</div>

            </div>
</div>

<div class="row">
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 well well-lg" style="width:33%; height:100px;">
            
        <h1> Reccomendation Engine </h1>

        
</div>

</div>
    </div>


</template>