<template name="sidebar">
    <ul class="nav nav-pills nav-stacked">


 {{#if currentUser.profile.avatar}}
                    <img src="{{currentUser.profile.avatar}}" class="avatar img-rounded" alt="avatar" style="width: 100px;height: 100px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 100px;">
                {{/if}}
        <!-- <li class="active"><a href="{{pathFor 'home'}}">Home</a></li>
       --> <!-- <li> <a href="{{pathFor 'privateMessagesList'}}">
                    <span class="fa fa-comments"></span><span class="messages-link">Messages</span>
                </a></li> -->
        <li><a href="{{pathFor 'events'}}">Events</a></li>
        <!-- <li><a href="{{ pathFor 'postRecipe' }}">Projects</a></li> -->
        <li><a href="{{pathFor 'search'}}">Browse Projects</a></li>
        <li> <a href="{{pathFor 'projectLists'}}">Trending Projects</a></li>
        <li><a href="{{pathFor 'followings' username=signedInUser}}">{{signedInUser}}'s Portfolio</a></li>
        <li><a href="{{pathFor 'fundings'}}">Fundings</a></li>
        <li><a href="{{pathFor 'resources'}}">Resources</a></li>

 <li>  <a href="{{pathFor 'followers' username=currentUser.username}}" > {{currentUser.username}}'s Followers</a>
 </li>

<li>  <a href="{{pathFor 'followings' username=currentUser.username}}"> {{currentUser.username}}' Followings</a>
 </li>

<!--         <li>
            
             <div class="messages-block {{#if navTabIsActive 'privateMessagesList'}}active{{/if}}">
                <a href="{{pathFor 'privateMessagesList'}}">
                    <span class="fa fa-comments"></span><span class="messages-link">Messages</span>
                     {{#if msgnotificationCount}}
        <span class="badge badge-inverse msgnotifications-counter">{{msgnotificationCount}}</span>
    {{/if}}
                </a>
            </div>

        </li> -->
<!-- <li>
    
 <div class="msgnotifications-block {{#if navTabIsActive 'privateMessagesList'}}active{{/if}}">
                <span class="msgnotifications">{{> msgnotifications}}</span>
            </div>

</li>
 -->
    </ul>
</template>