<template name="sidebar">
    <ul class="nav nav-pills nav-stacked">

        <li class="active"><a href="{{pathFor 'home'}}">Home</a></li>
       <!-- <li> <a href="{{pathFor 'privateMessagesList'}}">
                    <span class="fa fa-comments"></span><span class="messages-link">Messages</span>
                </a></li> -->
        <li><a href="{{pathFor 'events'}}">Events</a></li>
        <li><a href="{{ pathFor 'postRecipe' }}">Projects</a></li>
        <li><a href="{{pathFor 'search'}}">Browse Projects</a></li>
        <li> <a href="{{pathFor 'projectLists'}}">Trending Projects</a></li>
        <li><a href="{{pathFor 'followings' username=signedInUser}}">{{signedInUser}}'s Portfolio</a></li>
        <li><a href="{{pathFor 'fundings'}}">Fundings</a></li>
        <li><a href="{{pathFor 'resources'}}">Resources</a></li>
    </ul>
</template>