<!-- <template name="sidebar">
    <ul class="nav nav-pills nav-stacked">


 {{#if currentUser.profile.avatar}}
                    <img src="{{currentUser.profile.avatar}}" class="avatar img-rounded" alt="avatar" style="width: 100px;height: 100px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 100px;">
                {{/if}}
       
        <li><a href="{{pathFor 'events'}}">Events</a></li>
      
        <li><a href="{{pathFor 'search'}}">Browse Projects</a></li>


         <li><a href="{{pathFor 'followings' username=signedInUser}}">{{signedInUser}}'s Portfolio</a></li>
        <li><a href="{{pathFor 'fundings'}}">Fundings</a></li>
        <li><a href="{{pathFor 'resources'}}">Resources</a></li>
 <li><a href="/blog">Blog</a></li>

    </ul>
</template> -->


<template name="sidebar">


<script type="text/javascript">
      $(document).ready(function(){
      // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  $('.collapsible').collapsible();
        
    });


</script>

 
  
    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="{{pathFor 'dashboard'}}" class="brand-logo">
          spotDada </a> </li>
        <li class="bold"><a href="{{pathFor 'events'}}" class="waves-effect waves-teal">Events</a></li>
        <li class="bold"><a href="{{pathFor 'followings' username=signedInUser}}" class="waves-effect waves-teal">{{signedInUser}}'s Portfolio</a></li>
        
        <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
      </ul>
  
</template>