<template name='avatar'>
    <div id="avatar_modal_wrapper">
    </div>
    <div id="avatar_modal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Select files to upload:</h3>
            </div>
            <div class="panel-body">
                <input name="files" type="file" class="fileUploader" >
            </div>
        </div>
        {{#each files}}
            {{#if url store="images"}}
                {{! if we have a url to the thumbnail store we will display the image}}
                <img src="{{url store='images'}}" style="max-height: 150px;max-width: 200px">
                <button class="btn btn-warning btn-xs remove_image">X</button>
            {{else}}
                <img src="/img/uploading.png"  style="max-height: 150px;max-width: 200px">
                {{#unless isUploaded}}
                    <div class="progress upload_progress">
                        <div  role="progressbar" class="progress-bar bar bar-success"  aria-valuenow="{{uploadProgress}}%;" style="width: {{uploadProgress}}%;">{{uploadProgress}}%</div>
                    </div>
                {{else}}
                    <p class="uploadProgress">processing..</p>
                {{/unless}}
         {{/if}}
        {{else}}
            No Files was uploaded..
        {{/each}}

<!--NEW-->




    </div>

</template>