.each-list,
.list-group-item:first-child,
.list-group-item:last-child  {
  border-radius: 0;
}

.each-list:hover {
  background: rgba(256,256,256,0.9);
}

.menu-item-divided.list-group-item.each-list.active-tab, 
.menu-item-divided.list-group-item.each-list.active-tab:hover, 
.menu-item-divided.list-group-item.each-list.active-tab:focus {
  background: rgba(0, 192, 69, 0.3);
}

a > button.btn {
  margin-top: 2px;
  width: 100%;
  border-radius: 0;
}