

#layout, #menu, .menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#layout {
  position: relative;
  padding-left: 0;
}
#layout.active {
  position: relative;
  left: 250px;
}
#layout.active #menu {
  left: 250px;
  width: 250px;
}

#layout.active .menu-link {
  left: 250px;
}

#menu {
  margin-left: -250px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid rgba(0, 192, 69, 0.6);
}

.side-header {
  list-style-type: none;
  background: rgba(0, 192, 69, 0.6);
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-top: -1px;
  color: #fff;
}


.menu-link {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: rgba(0, 192, 69, 0.6);
  font-size: 16px;
  z-index: 10;
  width: 1em;
  height: 1em;
  padding: 11px 26px 30px 8px;
}

.menu-link:hover {
  background: rgba(0, 192, 69, 0.3);
}

.custom-dropdown {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 3%;
}

.recipes {
  margin: 10px 10px 10px 1px;
}

#main.active {
  padding-left: 3em;
}


/*@media (min-width: 48em) {
  .recipes {
    margin-left: 0;
  }

  #layout {
    padding-left: 250px;
    left: 0;
  }
  #menu {
    left: 250px;
  }

  .menu-link {
    position: fixed;
    left: 250px;
    display: none;
  }

  #layout.active .menu-link {
    left: 250px;
  }

}*/