<template name="fundings">
    <div class="col-md-10 col-md-offset-1">
        <div class="container col-md-12">
            <!-- Add event button -->
            {{#if currentUser}}
                <a class="btn btn-success" id="btn-add-event" href="{{pathFor 'preProd'}}">
                    <i class="fa fa-plus-circle"></i> Add a project in pre production stage
                </a>

                <a class="btn btn-success" id="btn-add-event" href="{{pathFor 'postProd'}}">
                    <i class="fa fa-plus-circle"></i> Add a project in post production stage
                </a>

            {{else}}
                <!-- NOT LOGGED IN -->
            {{/if}}
            <ul class="nav nav-tabs events-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#sectionA">
                        <i class="fa fa-list-ul"></i> Pre-Production
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#sectionB">
                        <i class="fa fa-bookmark"></i> Post-Production
                    </a>
                </li>
               
            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <h3>Pre Production</h3>
 

<div class="wrap">

<div id="columnss">
    {{#each displayprefund}}
      
<div class="pin" style=" padding: 10px;
box-shadow: -2px 2px 10px #DEDEDE; ">
<a href="/prefund/{{_id}}">
        <div class="each-project">

        {{#if src}}

<div style=" background: url({{src}}); margin: -4%; ">

<br />

<br />

<br />
<br />
<br />
<br />


<br />
</div>

        {{/if}}
        <br />
        <br />
          <p><a href="/prefund/{{_id}}"><strong>{{name}}</strong></a></p>
          <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{ownerName}}</a></p>
          <p> <i class="glyphicon glyphicon-pencil" > </i> {{write}}</p>
          <p> <i class="glyphicon glyphicon-facetime-video" > </i>   {{dir}}</p>
        </div>

  </a>
      </div>
    {{/each}}
  </div>
</div>

                </div>
                <div id="sectionB" class="tab-pane fade">
                    <h3>Post Production</h3>



<section class="wrap" style="">

<div id="columnss">

    {{#each displaypostfund}}
      
<article class="pin" style=" padding: 10px;
box-shadow: -2px 2px 10px #DEDEDE;">
<a href="/postfund/{{_id}}">
      

        {{#if src}}
<!-- <img src="{{src}}" style=" height:25%; width:25% " /> -->

<div style=" background: url({{src}}); margin: -4%; ">

<br />

<br />

<br />
<br />
<br />
<br />

<br />
</div>

        {{/if}}
<br />
<br />

<div>
          <p><a href="/postfund/{{_id}}"><strong>{{name}}</strong></a></p>
          <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{ownerName}}</a></p>
          <p> <i class="glyphicon glyphicon-pencil" > </i> {{write}}</p>
          <p> <i class="glyphicon glyphicon-facetime-video" > </i>   {{dir}}</p>
        
</div>



  </a>
      </article>
    {{/each}}
</div>

  </section>


                </div>
            </div>
        </div>
    </div>

<script>
        $(document).ready(function() {

            $('.pro').pinterest_grid({
                no_columns: 4,
                padding_x: 10,
                padding_y: 10,
                margin_bottom: 50,
                single_column_breakpoint: 700
            });

   $('.proj').pinterest_grid1({
                no_columns: 3,
                padding_x: 10,
                padding_y: 10,
                margin_bottom: 50,
                single_column_breakpoint: 700
            });

              });
 
    </script>


</template>
