<template name="preFund">
    <div class="container col-md-12 row">
        <!--<img class="img-responsive img-thumbnail" src="{{imageSrc}}" alt=""/>-->
        <div class="col-md-2">
            <div class="text-center">
                {{#if owner.profile.avatar}}
                    <img src="{{owner.profile.avatar}}" class="avatar img-rounded" alt="avatar" style="max-width: 100px;max-height: 100px">
                {{else}}
                    <img src="/default.jpg" class="avatar img-circle" alt="avatar" height="45%" width="45%">
                {{/if}}

                <p>Owner:
                    <a href="/users/{{ownerId}}"><strong>{{ownerName}}</strong></a>
                </p>
                <p><strong>User's Bio:</strong> {{owner.profile.bio}}</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                <h1 class="text-uppercase">{{name}}</h1>
                <!-- {{#if isJoined}}
                    <button class="btn btn-success pull-right" id="btn-unjoin-event">
                        <i class="fa fa-check-circle"></i>
                        <span>Not Interested</span>
                    </button>
                {{else}}
                    <button class="btn btn-default pull-right" id="btn-join-event">
                        <i class="fa fa-check-circle"></i>
                        <span>Interested</span>
                    </button>
                {{/if}} -->
            </div>
            <hr>
            <div class="col-md-6">
                <i class="fa fa-calendar"></i>{{dir}}  
            </div>
            <div class="col-md-6">
                <i class="fa fa-map-marker"></i> {{write}}
            </div>
            <div class="col-md-6">
                <i class="fa fa-clock-o"></i> {{gen}}
            </div>
            <div class="col-md-6">
                <i class="fa fa-usd"></i>Required Budget: {{rbud}}
            </div>
            <div class="col-md-6">
                <i class="fa fa-usd"></i> Current Budget: {{cbud}}
            </div>
            <div class="col-md-12">
                Director Statement: {{dirst}}
               
            </div>
            


               <div class="col-md-12 event-description well container">
               <div class="row">
                 
                           <script type="text/javascript">

                  $(document).ready(function(){
                  $('.materialboxed').materialbox();
                    });

                        </script>
              
              {{#if src}}

                 <div class="col s12 m3 l2" ><p class="flow-text">    <img class="responsive-img materialboxed" src="{{src}}" width="300px" alt=""/>
                 </p></div>
                  <div class="col s12 m6 l8" > <p class="flow-text" >{{syn}}</p></div>


                  {{else}}

                    <div class="col s12">  <p class="flow-text">{{syn}}</p>  </div>

                    

              {{/if}}



            </div>

            </div>


        </div>
        <!-- <div class="col-md-2">
            <p>LIST OF Interested <span class="badge">{{interestedLength}}</span></p>
           
        </div> -->
    </div>
   
</template>
