<template name="preProd">

    <div class="new-event col-md-8 col-md-offset-2 container-fluid">
        <h1>Create a new event</h1>
        <hr>
        <form name="add-event-form">
            <div class="form-group">
                <label for="event-name">Name of the Movie</label>
                <input type="text" class="form-control" id="name" name="proname" placeholder="Name of the movie" required="true">
            </div>
            <div class="form-group">
                <label for="event-description">Description</label>
                <textarea class="form-control" id="rsyn" name="syn" placeholder="Registered Synopsis"></textarea>
            </div>


            <div class="form-group">
                <label for="event-name">Current Budget</label>
                <input type="text" class="form-control" id="cbudget" name="currbudget" placeholder="Current Budget" required="true">
            </div>

            <div class="form-group">
                <label for="event-name">Directior's Locked-in</label>
                <input type="text" class="form-control" id="dir" name="dirlock" placeholder="Name of the Director" required="true">
            </div>

            <div class="form-group">
                <label for="event-name">Writers of the film</label>
                <input type="text" class="form-control" id="write" name="writer" placeholder="Who are the writers of the film?" required="true">
            </div>

            <div class="form-group">
                <label for="event-name">Directors statement</label>
                <input type="text" class="form-control" id="dirst" name="dirstmnt" placeholder="What is the Directors statement?" required="true">
            </div>

            <div class="form-group">
                <label for="event-name">Budget Required?</label>
                <input type="text" class="form-control" id="budre" name="budrequired" placeholder="What is the budget required?" required="true">
            </div>

      <div class="form-group">
                <label for="event-name">Language</label>
      <select class="form-control" id="lang" name="Language">
        <option value="assamese">Assamese</option>
          <option value="badaga">Badaga</option>
          <option value="bengali">Bengali</option>
          <option value="bhojpuri">Bhojpuri</option>
          <option value="bihari">Bihari</option>
          <option value="english">English</option>
          <option value="gujarati">Gujarati</option>
          <option value="haryanvi">Haryanvi</option>
          <option value="hindi">Hindi</option>
          <option value="kannada">Kannada</option>
          <option value="kashmiri">Kashmiri</option>
          <option value="konkani">Konkani</option>
          <option value="kosli">Kosli</option>
          <option value="malayalam">Malayalam</option>
          <option value="manipuri">Manipuri</option>
          <option value="marathi">Marathi</option>
          <option value="oriya">Oriya</option>
          <option value="punjabi">Punjabi</option>
          <option value="rajasthani">Rajasthani</option>
          <option value="tamil">Tamil</option>
          <option value="telegu">Telugu</option>
          <option value="tulu">Tulu</option>
      </select>
                     </div>



        <div class="form-group">
                <label for="event-name">Genre</label>
     <select class="form-control" id="genre" name="Genre">
          <option value="action">Action</option>
          <option value="animation">Animation</option>
          <option value="comedy">Comedy</option>
          <option value="documentary">Documentary</option>
          <option value="drama">Drama</option>
          <option value="exp">Experimental</option>
          <option value="family">Family</option>
          <option value="fantasy">Fantasy</option>
          <option value="festival">Festivals</option>
          <option value="horror">Horror</option>
          <option value="music">Music Videos</option>
          <option value="narrative">Narrative Film</option>
          <option value="romance">Romance</option>
          <option value="scify">Science Fiction</option>
          <option value="sflim">Short Film</option>
          <option value="television">Television</option>
          <option value="thriller">Thriller</option>
          <option value="webseries">Webseries</option>
      </select>
                     </div>

        </form>
        <div class="col-md-8 col-md-offset-2 text-center">
            <button type="button" class="btn btn-primary" id="btn-submit-event">Submit</button>
        </div>
    </div>

<ul>
{{#each display}}
<li>Name: {{name}}
    Genre: {{gen}}
    Writers:{{write}}
Director: {{dir}},
Synopsis:{{syn}},
Directors statement:{{dirst}},
Current Budget : {{cbud}},
Budget Required: {{rbud}},
Language:{{lang}}
Username:{{ownerName}},
Email:{{email}},
Contact:{{contact}}</li>
{{/each}}
</ul>
</template>