<template name="preProd">

    <div class="new-event col-md-8 col-md-offset-2 container-fluid">
        <h1>Put a Preproduction Film for funding</h1>
        <hr>
        <form name="add-event-form">
            
            <div class="input-field form-group" >
                <label for="event-name" style="font-size:100%">Name of the Movie</label>
                <input type="text" class="form-control" id="name" name="proname" required="true" style="font-size:100%">
            </div>
            
            <div class="form-group input-field">
                <label for="event-description" style="font-size:100%">Description</label>
                <textarea class="materialize-textarea" id="rsyn" name="syn" style="font-size:100%"></textarea>
            </div>

            <div class="form-group input-field">
                <label for="event-name" style="font-size:100%">Current Budget</label>
                <input type="text" class="form-control" id="cbudget" name="currbudget" required="true" style="font-size:100%">
            </div>
            
            <div class="form-group input-field">
                <label for="event-name" style="font-size:100%">Director Locked-in</label>
                <input type="text" class="form-control" id="dir" name="dirlock" required="true" style="font-size:100%">
            </div>

            <div class="form-group input-field">
                <label for="event-name" style="font-size:100%">Writers of the film</label>
                <input type="text" class="form-control" id="write" name="writer" required="true" style="font-size:100%">
            </div>

            <div class="form-group input-field">
                <label for="event-name" style="font-size:100%">Directors statement</label>
                <input type="text" class="form-control" id="dirst" name="dirstmnt" required="true" style="font-size:100%">
            </div>

            <div class="form-group input-field">
                <label for="event-name" style="font-size:100%" >Budget Required?</label>
                <input type="text" class="form-control" id="budre" name="budrequired" required="true" style="font-size:100%">
            </div>


                 

      <div class="form-group">
            <script type="text/javascript">
  
                     $(document).ready(function() {
                        $('#lang').material_select();
                       $('#genre').material_select();
                      });
   
                      </script>

                <label for="lang" style="font-size:100%" >Language</label>
      <select id="lang" name="Language">
        <option value="assamese">Assamese</option>
          <option value="badaga">Badaga</option>
          <option value="bengali">Bengali</option>
          <option value="bhojpuri">Bhojpuri</option>
          <option value="bihari">Bihari</option>
          <option value="english">English</option>
          <option value="gujarati">Gujarati</option>
          <option value="haryanvi">Haryanvi</option>
          <option value="hindi">Hindi</option>
          <option value="kannada">Kannada</option>
          <option value="kashmiri">Kashmiri</option>
          <option value="konkani">Konkani</option>
          <option value="kosli">Kosli</option>
          <option value="malayalam">Malayalam</option>
          <option value="manipuri">Manipuri</option>
          <option value="marathi">Marathi</option>
          <option value="oriya">Oriya</option>
          <option value="punjabi">Punjabi</option>
          <option value="rajasthani">Rajasthani</option>
          <option value="tamil">Tamil</option>
          <option value="telegu">Telugu</option>
          <option value="tulu">Tulu</option>
      </select>
                     </div>

        <div class="form-group">
                <label for="genre" style="font-size:100%">Genre</label>
     <select id="genre" name="Genre">
          <option value="action">Action</option>
          <option value="animation">Animation</option>
          <option value="comedy">Comedy</option>
          <option value="documentary">Documentary</option>
          <option value="drama">Drama</option>
          <option value="exp">Experimental</option>
          <option value="family">Family</option>
          <option value="fantasy">Fantasy</option>
          <option value="festival">Festivals</option>
          <option value="horror">Horror</option>
          <option value="music">Music Videos</option>
          <option value="narrative">Narrative Film</option>
          <option value="romance">Romance</option>
          <option value="scify">Science Fiction</option>
          <option value="sflim">Short Film</option>
          <option value="television">Television</option>
          <option value="thriller">Thriller</option>
          <option value="webseries">Webseries</option>
      </select>
                     </div>


 <div class="form-group">
        <label class="control-label" for="imageInput" style="font-size:100%;"  >Image</label>
        <div class="controls post-image-button">
         <button class="customImageUploadBtn btn btn-info" type="button" style="font-size:100%;"  > <i class="fa fa-plus-circle"></i>Image Upload</button>  

         <input type="file" id="imageInput" name="imageInput" style="display:none" multiple />
        </div>
          </div>

    

  <button type="submit" class="btn btn-primary">Submit</button>


        </form>
       
    </div>


</template>