<template name="profile">
  <h3>Profile</h3>
  <p>{{username}}</p>
  <p>{{email}}</p>
  {{#if recipes}}
    <div>
      <div class="recipes row">
        {{#each recipes}}
          <div class="col-sm-4 col-md-3 recipe-grid">
            <div class="each-recipe">
              <p><a href="{{pathFor 'recipePage'}}"><strong>{{title}}</strong></a></p>
              <p>by<a href="{{pathFor 'profile' username=this.author}}"> {{author}}</a></p>
              <p>{{pluralize commentsCount "comment"}}</p>
              <p>{{pluralize votes "vote"}}</p>
            </div>
            {{#if currentUser}}
              <a href="#" class="upvote btn {{upvotedClass}}">
                {{#if canVote}}
                  &#11014;
                {{else}}
                  &#11015;
                {{/if}}
              </a>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <p>No Projects</p>
  {{/if}}

  {{#if notYourself}}
    {{#if canFollow}}
      <button class="btn btn-info follow">Follow</button>
    {{else}}
      <button class="btn btn-warning unfollow">Unfollow</button>
    {{/if}}
  {{/if}}
</template>