<template name="header">
  <a href="#menu" id="menuLink" class="menu-link glyphicon glyphicon-align-justify">
  </a>

  <div id="menu">
    <div class="pure-menu">
      <ul class="list-group">
          
          {{#if currentUser}}
            <a class="side-header" href="{{ pathFor 'newRecipes' 'recipeLists'}}">spotDada</a>
          {{else}}
            <a class="side-header" href="{{ pathFor 'home'}}">Spotdada</a>
          {{/if}}
          
          {{> notifications}}
          <a class="menu-item-divided list-group-item each-list {{activeRouteClass 'search'}}" href="{{pathFor 'search'}}">Search</a>
          <a class="menu-item-divided list-group-item each-list {{activeRouteClass 'newRecipes' 'recipeLists'}}" href="{{pathFor 'newRecipes'}}">New Projects</a>
          <a class="menu-item-divided list-group-item each-list {{activeRouteClass 'bestRecipes'}}" href="{{pathFor 'bestRecipes'}}">Best Projets</a>
          
          {{#if currentUser}}
            <a class="menu-item-divided list-group-item each-list {{activeRouteClass 'postRecipe'}}" href="{{ pathFor 'postRecipe' }}">Post your projects</a>
            <a class="menu-item-divided list-group-item each-list {{activeRouteClass 'followingRecipes'}}" href="{{pathFor 'followingRecipes' username=signedInUser}}">Following User's Projects</a>
            
            <a href="{{pathFor 'profile' username=signedInUser}}" class="menu-item-divided list-group-item each-list {{activeRouteClass 'profile'}}"> {{signedInUser}}</a>
            <a href="{{pathFor 'followers' username=signedInUser}}" class="menu-item-divided list-group-item each-list {{activeRouteClass 'followers'}}"> {{signedInUser}}'s Followers</a>
            <a href="{{pathFor 'followings' username=signedInUser}}" class="menu-item-divided list-group-item each-list {{activeRouteClass 'followings'}}"> {{signedInUser}}' Followings</a>

            <a href="/sign-out">
              <button class="btn btn-warning logout-btn">Log out</button>
            </a>
          {{else}}
            <a href="/sign-in">
              <button class="btn btn-success">Sign-in</button>
            </a>
            <a href="/sign-up">
              <button class="btn btn-primary">Sign-up</button>
            </a>
          {{/if}}
      </ul>
    </div>
  </div>
</template>
