<template name="home">

<div id="skrollr-body">
    {{> skrollrBackground}}
    <section id="intro" class="colored text-center">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="container">
                        <a class="navbar-brand" href="{{pathFor 'home'}}">spotdada</a>
                        <div id="main-nav" class="navbar-collapse">
                            <ul class="social-links">
                                {{#unless currentUser}}
                                <a id="home-login" href="{{pathFor 'atSignIn'}}"><li>Login</li></a>
                                <a id="home-login" href="{{pathFor 'atSignUp'}}"><li>Register</li></a>
                                {{/unless}}
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="intro-well wow animated bounceIn">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1>Welcome to</h1>
                        <h2 style="color:white;" class="hidden-xs">Spotdada</h2>
                        {{#if currentUser}}
                        <a href="{{pathFor 'dashboard'}}" class="btn btn-success"><i class="fa fa-dashboard"></i> Go to dashboard</a>
                        {{else}}
                        <a class="btn btn-success" href="{{pathFor 'atSignIn'}}">Get started</a>
                        {{/if}}
                    </div>
                    <!--                 <div class="col-lg-6 col-sm-6">
                                                <img class="img-responsive" src="/img/image-header1.png" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section id="how-it-works" class="text-center">
        <div class="container wow fadeIn animated">
            <div class="col-md-4">
                <img src="img/connect.png" height="20%" width="20%">
                <h5>Connect</h5>
                <p>Connect instantly with our members from the entertainment industry. It works on so many levels, connecting actors with directors, directors with producers, producers with cast and crew and so on to pr and marketing and finally to distribution and theatre owners. As the saying goes, it's not what you know, it's who you know</p>
            </div>
            <div class="col-md-4">
                <img src="img/explore.png" height="20%" width="20%">
                <h5>Explore</h5>
                <p>Get to explore projects which require funding at different stages of production. Also explore all kinds of events / meetups that you might want to attend to make a difference in your career.</p>
            </div>
            <div class="col-md-4">
                <img src="img/share.png" height="20%" width="20%">
                <h5>Share</h5>
                <p>Spotdada allows you to gain full control on your material – list your reels, projects you working on, awards. It allows you to share your talent and be heard and seen everywhere and everyday.</p>
            </div>
        </div>
        <!-- <div class="container">
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.4s">
                    <div class="iconbox">
                        <i class="fa fa-plane fa-3x"></i>
                    </div>
                    <p class="icntitle">1. Step 1</p>
                    <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                    <div class="iconbox">
                        <i class="fa fa-bolt fa-3x"></i>
                    </div>
                    <p class="icntitle">2. Step 2</p>
                    <p class="icnp"> Oratio me istius philosophi non offendit; Qua tu etiam inprudens utebare non numquam.</p>
                </div>
                <div class="col-md-4 wow fadeInRight animated" data-wow-delay="1.2s">
                    <div class="iconbox">
                        <i class="fa fa-check fa-3x"></i>
                    </div>
                    <p class="icntitle">3. Step 3</p>
                    <p class="icnp">Et ille ridens: Video, inquit, quid agas; Duo Reges: constructio interrete.</p>
                </div>
            </div>
        </div> -->
    </section>
    <!-- <section id="examples">
                <div class="container wow fadeInUp animated">
                        <h1>Great features!</h1>
                        <h2>You can use {{Config.siteName}} to do anything</h2>
                </div>
    </section> -->
    <section id="ipad" class="colored text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>A revolutionary product</h3>
                    <p>Do really cool stuff really quickly</p>
                  
                </div>
                <div class="col-sm-6">
                    <img id="ipad" src="/img/ipad.png" alt="" class="wow animated fadeInRight" data-wow-delay="1s">
                </div>
            </div>
        </div>
    </section>
    <section id="final">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center wow fadeInDown animated" data-wow-delay="0.8s">
                    <h3>
                    You guys have done it again!
                    </h3>
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{pathFor 'atSignUp'}}">Take a look</a>
                    </div>
                </div>
                <div class="col-md-8  wow fadeInUp animated">
                    <img src="images/katrina.jpeg" class="img-responsive wow" data-wow-delay="0.6s" alt="picture">
                </div>
            </div>
        </div>
    </section>
</div>
{{> footerHome}}
</template>
<template name="skrollrBackground">
<div
    id="skroll-background-intro"
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#intro"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
        class="parallax-image parallax-image-100"
        data-anchor-target="#intro"
        data-bottom-top="transform: translate3d(0px, -80%, 0px);"
        data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
    <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
</div>
</template>
<template name="footerHome">
    <footer id="footer-home">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-offset-2 col-md-8">
                 <div class="row">
                <div class="col-md-12 text-center">
                    
                    <a href="{{pathFor 'about'}}">About</a> |
                    <a href="{{pathFor 'contact'}}">Contact</a> | 
                    <a href="/blog">Blog</a> <br> <br>

                    Copyright © 2014 spotdada.com. All rights reserved.
                </div>
                
                    <div class="col-md-3 widget">
                        <h5 class="widget-title">Follow me</h5>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                <a href=""><i class="fa fa-facebook fa-2"></i></a>
                            </p>
                        </div>
                    </div>
            </div>     
                </div>
            </div>

        </div>
    </footer>
</template>