<template name="people">
    {{#each people}}
        <div class="row">
            <div class="col-md-12 each_friend_in_list">
                <div class="col-md-2">
                    <a href="{{pathFor 'wall'}}">
                       <img src="{{avatar_url _id}}" alt="image" class="img-thumbnail" style="height: 82px;width: 82px;"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <p> {{profile.name}} <span class="text-muted pull-right">{{status.online}}</span></p>
                    <p> {{emails_address emails}}</p>
                </div>
                <div class="col-md-4">
                    <p><a href="javascript:;" class="add_friend">Add to friends</a></p>
                    <p><a href="javascript:;" class="start_chat">Start Chat</a></p>
                </div>
            </div>
        </div>
     {{/each}}
</template>