<template name="dashboard">
   <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" >
                
  <div class="well well-lg">
         <form action="" id="stat" class="postStatus">
          <label for="postStatus">Status</label>
          <input type="text" name="postStatus" class="form-control input-lg" placeholder="What do you wanna Rant About?" style="height: 70px;">  
          <div class="controls post-image-button">
          <i class="glyphicon glyphicon-picture" style="font-size:29px;"></i>         
          <button class="customImageUploadBtn btn btn-danger" type="button" style="margin-top: -14px;"> Upload an Image  </button>  

         <input type="file" id="imageInput" name="imageInput" style="display:none" multiple />
        </div>
          
         </form>
    </div>
    <div id="postList">
      {{#each postss}}
        {{>post}}
      {{/each}}
    </div>
</div>


 <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                {{>rightbar}}
            </div>



        </div>

</template>
