<template name="post">
   <div class="panel panel-default">
    <div class="panel-body">
    
      <div class="media">
          <a class="media-left" href="{{pathFor 'profile' username=this.author}}">
      {{#if getUserAvatar userId}}
                    <img src="{{getUserAvatar userId}}" class="avatar img-rounded" alt="avatar" style="width: 70px;height: 70px">
                {{else}}
                  <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="width: 70px;">
                {{/if}}
</a>
        <div class="media-body">
         <h5 class="media-heading">
           <a href="{{pathFor 'profile' username=this.author}}">{{author}}</a>
         </h5>
          <h6 class="text-muted">
           {{formatTime date}}
         </h6>
         <p>{{text}}</p>
          <h6 class="">
            {{#if ownLike}}
              <a href="" class="unlikeBtn muted"><small>Unlike</small></a>
             {{else}}
              <a href="" class="likeBtn muted"><small>Like</small></a>
            {{/if}}
            
{{#if likeCount}}<span class="badge">{{likeCount}}</span> Persons likes this {{/if}}
          </h6>
        </div>
      </div>
     </div>
     <div class="panel-footer">     
           
       {{#each postComments}}
          {{>postComment}}
       {{/each}}

       <form action="" class="postComment">
       <input class="form-control" type="text" name="postComment" placeholder="Comment">
       </form>
     </div>
</div>            
</template>


<template name="postComment">
   
    <div class="media">
        <a class="media-left" href="{{pathFor 'profile' username=this.author}}">
      {{#if getUserAvatar userId}}
                    <img src="{{getUserAvatar userId}}" class="avatar img-rounded" alt="avatar" style="width: 50px;height: 50px">
                {{else}}
                    <img src="/default.jpg" class="avatar img-circle" alt="avatar" style="height: 50px">
                {{/if}}
</a>
        <div class="media-body">
          <h6 class="media-heading"><a href="{{pathFor 'profile' username=this.author}}">{{author}}</a><span class="text-muted"> {{formatTime date}}</span></h6>
         <p>{{text}}</p>
          {{#if likeCount}}<span class="badge alert-success">{{likeCount}}</span> Persons Like This{{/if}}
          <h6 class="small">
            {{#if ownLike}}
              <a href="" class="unlikeBtn text-muted">Unilke</a>
             {{else}}
              <a href="" class="likeBtn text-muted">Like</a>
            {{/if}}

          </h6>
        </div>
      </div>
    
</template>