<template name="notificationss">



<a class='dropdown-button' href='#' data-activates='dropdown1'> <i class="large mdi-social-cake"></i>

 {{#if notificationCount}}
      <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}

 </a>

    

  <ul class="dropdown-content" id="dropdown1">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
    {{else}}
      <a class="menu-item-divided list-group-item each-list" href="#">
        No Notifications
      </a>
    {{/if}}
  </ul>

<script type="text/javascript">
  
  
      $(document).ready(function(){
    $('.dropdown-button').dropdown({hover: false,
                                   belowOrigin: true,
                                   constrain_width: false});
  });

</script>

</template>
